@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: max(16px, 2vmin);
}

.heading {
}

.banner {
	color: white;
}
.banner > .bannerImg {
}
.hero {
}

.large {
}
.small {
}
.title {

}

.section {
}
@media (orientation:portrait) {
	.section {
	}
}

.vstack {
}
.part {
}

.left {
}
.right {
}
.center {
}

.spacer {
}

h1, h2, h3, h4, h5, h6 {
	padding: 30px;
	box-sizing: border-box;
}

h1 {
	font-size: max(24px, 10vmin);
}
h2 {
	font-size: max(20px, 5vmin);
}
h3 {
	font-size: max(18px, 3vmin);
}

img {
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0, 0, 0, .25);
}

.nav {
	background-color: black;
}
.navIcon {
	filter: invert();
	-webkit-filter: invert();
	margin-right: 10px;
	width: 20px;
	height: 20px;
}
.siteName {
	padding: 5px;
}
.links {
}

.siteName {
	padding: 10px;
}
.siteLink {
	color: inherit;
	text-decoration: none;
	transition: 0.2s;
	border-radius: 10px;
	padding: 10px !important;
}
.siteLink:hover {
	font-weight: 500;
}
.siteLink:active {
}
@media (orientation:landscape) {
	.siteLink {
		margin: 0px 0px 0px 10px;
		padding: 5px;
	}
	
}
@media (orientation:portrait) {
	.siteLink {
		margin-top: 10px;
		padding: 5px;
	}
	.foldButton {
		background-color: transparent;
		font-size: 40px;
		border: none;
		font-weight: bold;
		position: absolute;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		color: white;
	}
	.openButton {
		background-color: transparent;
		font-size: 40px;
		filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		font-weight: bold;
		top: 10px;
		left: 10px;
		color: white;
	}
}

.unscrolledNav {
	color: white;
}
.scrolledNav {
	background-color: black;
	color: white;
}
.verticalNav {
	background-color: transparent;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	color: white;
	width: max(150px, 40vw);
	background-color: black;
}
.verticalNav > .links > .siteLink {
}

p {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
}
a {
}

.codeblock {
	background-color: gainsboro;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

code {
	color: rgb(86, 86, 86);
}

.btn {
	background: linear-gradient(30deg, black, black 50%, white 50%, white);
    background-size: 300%;
    background-position: 100%;
	color: black;
	border: solid;
    border-color: black;
	padding: 10px;
    transition: 0.2s;
}
.btn:hover {
    background-position: 70%;
}
.btn:active {
    background-position: 0%;
    color: white;
}

.subnav > a::after {
	content: " +";
}
.subnavContents {
	background-color: white;
	color: black;
	border: solid 2px black;
	padding: 10px;
	box-sizing: border-box;
}
.subnavContents > * {
    margin: 0;
}
@media (orientation:landscape) {
    .subnavContents {
    	translate: 0 20px;
    }
}