@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
	font-family: "Poiret One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: max(16px, 2vmin);
	background-color: rgb(255, 252, 240);
}

.heading {
}

.banner {
}
.banner > .bannerImg {
}
.hero {
}

.large {
}
.small {
}
.title {

}

.section {
}
@media (orientation:portrait) {
	.section {
	}
}

.vstack {
}
.part {
}

.left {
}
.right {
}
.center {
}

.spacer {
}

h1, h2, h3, h4, h5, h6 {
	padding: 30px;
	box-sizing: border-box;
}

h1 {
	font-size: max(24px, 10vmin);
}
h2 {
	font-size: max(20px, 5vmin);
}
h3 {
	font-size: max(18px, 3vmin);
}

img {
	box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.nav {
}
.navIcon {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}
.siteName {
	padding: 5px;
}
.links {
}

.siteName {
	padding: 10px;
	width: fit-content;
	font-style: italic;
}
.siteLink {
	color: black;
	text-decoration: none;
	transition: 0.2s;
	border-radius: 10px;
	padding: 10px !important;
}
.siteLink:hover {
	font-weight: 500;
}
.siteLink:active {
}
@media (orientation:landscape) {
	.siteLink {
		margin: 0px 0px 0px 10px;
		padding: 5px;
	}
	
}
@media (orientation:portrait) {
	.siteLink {
		margin-top: 10px;
		padding: 5px;
	}
	.foldButton {
		background-color: transparent;
		font-size: 40px;
		border: none;
		font-weight: bold;
		position: absolute;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}
	.openButton {
		background-color: transparent;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		font-weight: bold;
		top: 10px;
		left: 10px;
	}
}

.unscrolledNav {
}
.scrolledNav {
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}
.verticalNav {
	background-color: transparent;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	width: max(150px, 40vw);
}
.verticalNav > .links > .siteLink {
}

p {
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 10px;
}
a {
}

pre {
	background-color: gainsboro;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

code {
	color: rgb(86, 86, 86);
}